.titleContainer {
  display: flex;
  flex-direction: column;
}
.title {
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  font-size: 2.986em;
  margin: 0;
}

.subTitle {
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  font-size: 1.44em;
  margin: 0;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
}

.img {
  max-width: 250px;
  width: 20%;
  margin-right: 1rem;
}