.case {
  border: 3px solid #EFEFEF;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 1em;
}

.caseContent {
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  margin-bottom: 0.512em;
  font-size: 1.563rem;
}

.description {
  margin: 0;
  margin-bottom: auto;
  font-size: 1.2em;
}

.img {
  max-width: 250px;
  width: 100%;
}